<h1 style="color:blue">Tipos de Cifrados</h1>

<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="Cifrados" asp-action="CifradoBasico">Cifrado basico</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Cifrados" asp-action="CifradoEficiente">Cifrado Eficiente</a>
    </li>
</ul>